{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="card w-50 m-auto">
        <div class="card-header">
            <h5 class="card-title">Task: {{ task.name }}</h5>
            <p class="card-text"><b>Department:</b> <a class="btn btn-sm btn-outline-dark" href="{% url 'departments_detail' task.department.id %}">{{ task.department.name }}</a>
            </p>
            <p class="card-text">
                <b>Employees:</b>
                {% for employee in task.employee_set.all %}
                    <a class="btn btn-sm btn-outline-dark" href="{% url 'employees_detail' employee.id %}">{{ employee.user.first_name }} {{ employee.user.last_name }}</a>
                {% empty %}
                    None Assigned
                {% endfor %}
            </p>
        </div> 
        <div class="card-body">
            <p>
                <b>Due Date:</b> {{ task.due }} 
                <br>
                <b>Status:</b> {{ task.get_status_display }}
                <br>
                <b>Urgency:</b> {{ task.get_urgency_display }} 
                <br>
                <b>Description:</b> {{ task.description }}
            </p>

            <a class="btn btn-secondary" href="{% url 'tasks_update' task.id %}">Update Task</a>
            <a class="btn btn-danger" href="{% url 'tasks_delete' task.department_id task.id %}">Delete Task</a>
        </div>
    </div>

    <div class="mt-4">

        <h4>Assign Employees to Task</h4>
        {{ task.department.org }}
        <form action="{% url 'assoc_employee_task' %}" method="POST">
            <label for="employees">Employees</label>
            <select name="employee_id" id="employees">
                {% for employee in task.department_id.employee.all %}
                {% if employee in task.employee_set.all %}
                
                {% else %}
                <option value="{{ employee.id }}">{{ employee.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="Add">
        </form>
    </div>

</div>



{% endblock %}