{% extends 'base.html' %}
{% block content %}

<div style="text-align:center">
    <h1>What does macromanager do</h1>
    <p>Macromanager organizes all of your departments and its employees so you can clearly see who is doing what.</p>
</div>

<div style="text-align:center">
    <h2>How to get started</h2>
    
    <p>Let's start by clicking the SIGNUP button on your home page</p>
    <img height="30%" width="30%"src="https://imgur.com/P3LgUMQ.png" alt="signup pic">
    <p>Next, ENTER your account information</p>
    <img height="30%" width="30%"src="https://imgur.com/PUeGDt8.png" alt="signup form pic">
    <p>Now you can SELECT your Organization or CREATE a new Organization</p>
    <img height="30%" width="30%"src="https://imgur.com/ea2r73b.png" alt="create org pic">
    <p>Once you are in your Organization you can SELECT or CREATE a department</p>
    <p>If you DO NOT see your current department you can CREATE it</p>
    <img height="30%" width="30%"src="https://imgur.com/8Rk5jIx.png" alt="sel dept pic">
    <p>You will see your CURRENT department listed on the TOP of your screen</p>
    <p>You can CHANGE your departments name or DELETE it if you wish</p>
    <img height="30%" width="30%"src="https://imgur.com/Fit47P2.png" alt="create task pic">
    <p>Your newly created Task will SHOW above the form</p>
    <img height="30%" width="30%"src="https://imgur.com/IW9EgjU.png" alt="task pic">
    <p>More</p>
</div>

<div style="text-align:center">
    <h1>About Us</h1>
    <p>We are not lizards</p>
</div>
  
  <h2 style="text-align:center">Our Team</h2>
<div style="text-align:center" class="row">
    <div class="column">
        <div class="card w-50 m-auto">
            <div class="col-md-4">
                <img height="40%" width="40%"src="https://imgur.com/rQpEXZA.png" alt="dev pic">
            </div>
            <div class="container col-md-8">
                <h2>James Devine</h2>
                <p class="card-title">Software Engineer</p>
                <p>I am a software engineer</p>
                <p>dontcontactme@email.com</p>
            </div>
        </div>
    </div>
  
    <div class="column">
        <div class="card w-50 m-auto">
            <div class="col-md-4">
                <img height="40%" width="40%"src=".png" alt="dev pic">
            </div>
            <div class="container col-md-8">
                <h2>dev 2</h2>
                <p class="card-title">Software Engineer</p>
                <p>I am a software engineer</p>
                <p>dontcontactme@email.com</p>
            </div>
        </div>
    </div>
  
    <div class="column">
        <div class="card w-50 m-auto">
            <div class="col-md-4">
                <img height="40%" width="40%"src=".png" alt="dev pic">
            </div>
            <div class="container col-md-8">
                <h2>dev 3</h2>
                <p class="card-title">Software Engineer</p>
                <p>I am a software engineer</p>
                <p>dontcontactme@email.com</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}