{% extends 'base.html' %}
{% block title %}
  About
{% endblock %}

{% block content %}
<div class="container mt-4">
<div style="text-align:center">
    <h1>What does macromanager do</h1>
    <p>Macromanager organizes all of your departments and its employees so you can clearly see who is doing what.</p>
</div>

<div style="text-align:center">
    <h2>How to get started</h2>
    <div class="border">
        <h3>STEP 1</h3>
        <p>Let's start by clicking the SIGNUP button on your home page</p>
        <img height="60%" width="60%"src="https://imgur.com/eO14L3f.png" alt="signup pic">
    </div>
    <div class="border">
        <h3>STEP 2</h3>
        <p>Next, ENTER your account information</p>
        <img height="60%" width="60%"src="https://imgur.com/BBx1eSu.png" alt="signup form pic">
    </div>
    <div class="border">
        <h3>STEP 3</h3>
        <p>Now you can SELECT your Organization or CREATE a new Organization</p>
        <img height="60%" width="60%"src="https://imgur.com/vMbrY2f.png" alt="create org pic">
    </div>
    <div class="border">
        <h3>STEP 4</h3>
        <p>Once you are in your Organization you can SELECT or CREATE a Department</p>
        <p>If you DO NOT see your current department you can CREATE it</p>
        <img height="60%" width="60%"src="https://imgur.com/sy7VnS8.png" alt="sel dept pic">
    </div>
    <div class="border">
        <h3>STEP 5</h3>
        <p>This is your Department's home page</p>
        <p>You will see your CURRENT Department listed on the TOP of your screen</p>
        <p>You can CHANGE your Department's name or DELETE it if you wish</p>
        <img height="60%" width="60%"src="https://imgur.com/RNJ3jtJ.png" alt="create task pic">
        <p>On this page you can CREATE a Task on the left side</p>
        <img height="60%" width="60%"src="https://imgur.com/1pLwiLa.png" alt="create task pic">
        <p>Once you CREATE a Task it will populate on the table to your right</p>
        <p>CLICK on Task Info to Assign an Employee</p>
        <img height="60%" width="60%"src="https://imgur.com/I0nCHOH.png" alt="create task pic">
    </div>
    <div class="border">
        <h3>STEP 6</h3>
        <p>This is the Task Detail page</p>
        <p>You can ASSIGN an Employee here</p>
        <img height="60%" width="60%"src="https://imgur.com/lYXOL8S.png" alt="task pic">
        <p>Once you ADD an Employee to a Task you will see their name next to the Employees list on the Task</p>
        <img height="60%" width="60%"src="https://imgur.com/rpDOc8N.png" alt="task pic">
    </div>
    <div class="border">
        <h3>STEP 7</h3>
        <p>YOU ARE ALL SET!</p>
    </div>
    
    
    
    
    
    
</div>

<div style="text-align:center">
    <h1>About Us</h1>
    <p>We are not lizards</p>
</div>
  
  <h2 style="text-align:center">Our Team</h2>
<div style="text-align:center" class="row">
    <div class="column">
        <div class="card w-50 m-auto">
            <img class="rounded mx-auto d-block" height="20%" width="20%"src="https://imgur.com/rQpEXZA.png" alt="dev pic">
            <div class="container col-md-8">
                <h2>James Devine</h2>
                <p class="card-title">Software Engineer</p>
                <p>I am a software engineer</p>
                <p>dontcontactme@email.com</p>
            </div>
        </div>
    </div>
  
    <div class="column">
        <div class="card w-50 m-auto">
            <img class="rounded mx-auto d-block" height="20%" width="20%"src="https://i.imgur.com/oiwOjNV.jpg" alt="dev pic">
            <div class="container col-md-8">
                <h2>Ryan Okamoto</h2>
                <p class="card-title">Software Engineer</p>
                <p>I am a software engineer</p>
                <p>dontcontactme@email.com</p>
            </div>
        </div>
    </div>
  
    <div class="column">
        <div class="card w-50 m-auto">
            <img class="rounded mx-auto d-block" height="20%" width="20%"src="https://imgur.com/SPSINj0.png" alt="dev pic">
            <div class="container col-md-8">
                <h2>Eric Tau</h2>
                <p class="card-title">Software Engineer</p>
                <p>I am a software engineer</p>
                <p>dontcontactme@email.com</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card w-50 m-auto">
            <img class="rounded mx-auto d-block" height="20%" width="20%"src="https://imgur.com/QDfBdgE.png" alt="dev pic">
            <div class="container col-md-8">
                <h2>Sean</h2>
                <p class="card-title">Software Engineer</p>
                <p>I am a software engineer</p>
                <p>dontcontactme@email.com</p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}