{% extends 'base.html' %}
{% block content %}

<h1>Home</h1>

{% if user.is_authenticated %}

<div class="container">
    <div class="row">
        <div class="col">
            <div>
                left col
            </div>
        </div>
        <div class="col-6">
            <div class="container-fluid">
                <h1>MACROMANAGER</h1>
            </div>
        </div>
        <div class="col">
            <div>
                right col
            </div>
        </div>
    </div>

</div>

{% else %}

<div>
    <a href="{% url 'signup' %}"><button class="btn btn-info">signup</button></a>
</div>
{% endif %}   

{% endblock %}