{% extends 'base.html' %}
{% block content %}


<div class="container text-center">
    <div class="row">
        <div class="col">
            <div>
                <h3>open area</h3>
            </div>
        </div>
        <div class="col-8">
            <div class="container-fluid">
                <h1>{{department.name}}</h1>
                <p>I hate this dept</p>
                <a href="{% url 'departments_update' department.id %}"><button class="btn btn-secondary">Update Department</button></a>
                <a href="{% url 'departments_delete' department.id %}"><btn class="btn btn-danger">Delete Department</btn></a>

                <!-- Tasks Start -->
                    <table>
                    {% for task in tasks %}
                        {% if task.urgency == 'LOW' %}
                            <tr>
                                <td> {{ task.name }} </td>
                                <td> {{ task.due }} </td>
                                <td> {{ task.employee.user.first_name }} </td>
                                <td> {{ task.get_urgency_display }} </td>
                                <td> {{ task.description }} </td>
                                <td> {{ task.get_status_display }} </td>
                                <td><a href="{% url 'tasks_delete' department.id task.id %}">Delete</a></td>
                                <td><a href="{% url 'tasks_detail' task.id %}">Task Info</a></td>
                            </tr>
                        {% endif %}
                        {% if task.urgency == 'MID' %}
                            <tr class="table-primary">
                                <td> {{ task.name }} </td>
                                <td> {{ task.due }} </td>
                                <td> {{ task.employee.user.first_name }} </td>
                                <td> {{ task.get_urgency_display }} </td>
                                <td> {{ task.description }} </td>
                                <td> {{ task.get_status_display }} </td>
                                <td><a href="{% url 'tasks_delete' department.id task.id %}">Delete</a></td>
                                <td><a href="{% url 'tasks_detail' task.id %}">Task Info</a></td>
                            </tr>
                        {% endif %}
                        {% if task.urgency == 'HIGH' %}
                                <td> {{ task.name }} </td>
                                <td> {{ task.due }} </td>
                                <td> {{ task.employee.user.first_name }} </td>
                                <td> {{ task.get_urgency_display }} </td>
                                <td> {{ task.description }} </td>
                                <td> {{ task.get_status_display}} </td>
                                <td><a href="{% url 'tasks_delete' department.id task.id %}">Delete</a></td>
                                <td><a href="{% url 'tasks_detail' task.id %}">Task Info</a></td>
                            </tr>
                        {% endif %}
                        {% if task.urgency == 'EMERG' %}
                            <tr class="table-danger">
                                <td> {{ task.name }} </td>
                                <td> {{ task.due }} </td>
                                <td> {{ task.employee.user.first_name }} </td>
                                <td> {{ task.get_urgency_display }} </td>
                                <td> {{ task.description }} </td>
                                <td> {{ task.get_status_display }} </td>
                                <td><a href="{% url 'tasks_delete' department.id task.id %}">Delete</a></td>
                                <td><a href="{% url 'tasks_detail' task.id %}">Task Info</a></td>
                            </tr>
                        {% endif %}
                        {% empty %}
                            <h2>{{ department.name }} has no tasks</h2>
                    {% endfor %}
                    </table>

                <h2>Create a Task</h2>
                <table>
                <form method="POST" action="{% url 'tasks_create' department.id %}">
                    {% csrf_token %}
                    {{ task_form.as_p }}
                <input type="submit" value="Create Task" class="btn btn-primary">
                </form>

            </table>
            </div>
        </div>
        <div class="col">
            <div>
                <h3>Employees</h3>
                <table>
                {% for employee in employees %}
                    <tr>
                        <td>{{ employee.user.first_name }} {{ employee.user.last_name }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>

</div>
<!-- new stuff -->


<!-- Tasks End -->
{% endblock %}