{% extends 'base.html' %}
{% block title %}
    {{department.name}} Departments
{% endblock %}

{% block content %}
<br>
<br>
<div class="container">
  <div class="row">
      <div class="col">
          <div>
              
          </div>
      </div>

      <div class="col-8">
          <div class="h5 container-fluid text-center">
            <h2 class="text-muted">Departments in {{ request.user.employee.org }}</h2>
            {% csrf_token %}
            {% for dept in depts %}
            
                <a href="{% url 'departments_detail' dept.id %}">
                    <div class="card">
                        <div class="card-body">
                          Department: {{ dept.name }}
                        </div>
                    </div>
                </a>
            
            {% endfor %}
            <br>
            <br>
            <h2 class="text-muted">Create a Dept</h2>

            <form method="POST" action="{% url 'departments_create' %}">

              {{ dept_form.as_p }}
              {% csrf_token %}
              <input type="submit" value="Create Department" class="btn btn-sm btn-primary">
            </form>
          </div>
      </div>
      <div class="col">
          <div>
              
          </div>
      </div>
  </div>

</div>




{% endblock %}